.sidebar {
  width: 100%;
  background-color: white;
  padding: 2rem;
  border-radius: 0.5rem;
}
.sidebar h3 {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.75rem;
  border-bottom-width: 1px;
  color: black;
}
.sidebar ul {
  list-style: none;
  margin-block-start: 0px;
  padding-inline-start: 0px;
}
.sidebar hr {
  margin-bottom: 2rem;
}
