.post{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 0.5rem;
    padding: 2rem;
    color: black;
}
.image{
    display: block;
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
    max-height: 18rem;
    object-fit: cover;
}