.imageContainer {
  display: block;
  width: 100%;
  height: auto;
}
.image {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
  max-height: 30rem;
  object-fit: cover;
  margin-bottom: 2rem;
}
.title {
  margin-top: 0;
  margin-bottom: 2rem;
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 600;
}
.postBody {
  width: 100%;
  background-color: white;
  padding: 2rem;
  border-radius: 0.5rem;
  color: black;
}
@media (max-width: 800px) {
  .title {
    font-size: 1.5rem;
    line-height: 1.9rem;
  }
  .postBody {
    padding: 1.5rem;
  }
}
