.post {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 0.5rem;
  padding: 2rem;
  color: black;
  height: min-content;
}
.image {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
  max-height: 18rem;
  object-fit: cover;
  margin-bottom: 2rem;
}
.title {
  margin-top: 0;
  margin-bottom: 2rem;
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 600;
}
.excerpt {
  margin-top: 0;
  margin-bottom: 2rem;
}
.excerpt p {
  font-size: 1.125rem;
  padding: 0;
  margin: 0;
  text-align: center;
  margin-left: 3rem;
  margin-right: 3rem;
}

@media (max-width: 600px) {
  .excerpt {
    margin-bottom: 1rem;
  }
  .excerpt p {
    font-size: 16px;
    line-height: 24px;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .title {
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }
}
@media (max-width: 500px) {
  .post {
    padding: 1.5rem;
  }
}
@media (max-width: 450px) {
  .excerpt p {
    font-size: 15px;
    line-height: 22px;
    margin-left: 0rem;
    margin-right: 0rem;
  }
  .title {
    font-size: 1.2rem;
    line-height: 1.9rem;
  }
}
