.Content img {
  display: block;
  max-width: 100%;
  max-height: min-content;
  height: auto;
}
.Content p {
  margin: 0;
  padding: 0;
  margin-bottom: 2rem;
  font-size: 1.3rem;
}

.Content h3 {
  font-size: 1.4rem;
  margin: 0;
  padding: 0;
  margin-bottom: 2rem;
}

.Content h2 {
  font-size: 1.4rem;
  margin: 0;
  padding: 0;
  margin-bottom: 2rem;
}

.Content code {
  background: #f4f4f4;
  border: 1px solid #ddd;
  border-left: 3px solid #f36d33;
  color: #666;
  page-break-inside: avoid;
  font-family: monospace;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1em 1.5em;
  display: block;
  word-wrap: break-word;
  margin-bottom: 2rem;
}

.Content figure {
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

@media (max-width: 800px) {
  .Content p {
    margin-bottom: 1.5rem;
    font-size: 1.1rem;
  }
  .Content h3 {
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
  }
  .Content h2 {
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
  }
  .Content code {
    font-size: 14px;
    margin-bottom: 1.5rem;
  }
}
@media (max-width: 600px) {
  .Content p {
    margin-bottom: 1.3rem;
    font-size: 18px;
    line-height: 28px;
  }
  .Content h3 {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 1.3rem;
  }
  .Content h2 {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 1.3rem;
  }
  .Content code {
    font-size: 14px;
    margin-bottom: 1.3rem;
  }
  .Content img {
    max-width: calc(100% + 40px);
    margin-left: -20px;
  }
}
@media (max-width: 500px) {
  .Content p {
    margin-bottom: 1rem;
    font-size: 16px;
    line-height: 26px;
  }
  .Content h3 {
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 1rem;
  }
  .Content h2 {
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 1rem;
  }
  .Content code {
    font-size: 12px;
    margin-bottom: 1rem;
  }
}
@media (max-width: 450px) {
  .Content code {
    font-size: 11px;
  }
}
@media (max-width: 400px) {
  .Content code {
    font-size: 9px;
  }
}
@media (max-width: 350px) {
  .Content code {
    font-size: 8px;
  }
}
