.readProccess {
  position: relative;
  width: 100%;
  background-color: transparent;
  z-index: 1000;
}
.lineProcess {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 12px;
  background-color: blue;
  opacity: 0.6;
  transition: transform cubic-bezier(0.25, 0.46, 0.45, 0.94) 300ms;
}
