html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: black;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p {
  line-height: 1.6;
  margin: 1.2em 0;
  letter-spacing: -0.01em;
  font-size: 1.5rem;
  font-weight: 400;
}
h2 h3 h4 h5 h6 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
}
