.container {
  display: grid;
  grid-template-rows: 20% 1fr 20%;
  padding: 2.5% 10%;
  min-height: 100vh;
  background: rgb(18, 11, 138);
  background: linear-gradient(
    90deg,
    rgba(18, 11, 138, 1) 0%,
    rgba(9, 9, 121, 1) 52%,
    rgba(15, 119, 140, 1) 100%
  );
}
