.metadata {
  display: flex;
  width: 100%;
  list-style: none;
  align-items: center;
  justify-content: center;
  margin-block-start: 0;
  margin-block-end: 0;
}
.metadata li{
    margin-right: 1rem;
    margin-left: 1rem;
}
.avatar address {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ava {
  display: block;
  border-radius: 100px;
  max-width: 30px;
  height: auto;
  margin-right: 0.5rem;
}
.username {
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;
  font-weight: 700;
  font-style: normal;
}
.date {
  font-size: 1rem;
}
.categories {
  font-size: 1rem;
}
