.metadata {
  display: flex;
  width: 100%;
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-bottom: 2rem;
  align-items: center;
  padding-inline-start: 0px;
}
.center {
  justify-content: center;
}
.left {
  justify-content: flex-start;
}
.left li:first-child {
  margin-left: 0px !important;
}
.metadata li {
  margin-right: 1rem;
  margin-left: 1rem;
}
.avatar address {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ava {
  display: block;
  border-radius: 100px;
  max-width: 30px;
  height: auto;
  margin-right: 0.5rem;
}
.username {
  font-size: 1rem;
  text-decoration: none;
  font-weight: 700;
  font-style: normal;
}
.date {
  font-size: 1rem;
}
.categories {
  font-size: 1rem;
}
.categories p {
  font-size: 1rem;
  padding: 0;
  margin: 0;
}

@media (max-width: 600px) {
  .metadata {
    margin-bottom: 1rem;
  }
  .metadata li {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }
  .username {
    font-size: 0.8rem;
  }
  .date {
    font-size: 0.8rem;
  }
  .categories p {
    font-size: 0.8rem;
  }
}
@media (max-width: 450px) {
  .username {
    font-size: 0.6rem;
  }
  .date {
    font-size: 0.6rem;
  }
  .categories p {
    font-size: 0.6rem;
  }
}